* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
}

input, button, textarea {
  font-family: inherit;
}

button, a {
  cursor: pointer;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.main {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  padding: 30px;
  position: relative;
  top: 60px;
  min-height: 800px;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-bottom: 30px;
}

.title::before, .title::after {
  content: '';
  background: url("../../img/icon/leaves.png") no-repeat;
  width: 64px;
  height: 64px;
  position: absolute;
  background-size: 64px 64px;
}

.title::before {
  left: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.title::after {
  right: 0;
  -webkit-transform: scaleX(-1) rotate(-45deg);
          transform: scaleX(-1) rotate(-45deg);
}

.date {
  margin-bottom: 8px;
}

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}

.blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 12px;
}

.block__week {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 16px;
  position: relative;
}

.block__week::after {
  content: '';
  position: absolute;
  border-bottom: dashed;
  width: 100%;
  bottom: -8px;
}

.input {
  background: transparent;
  max-width: 100%;
  height: 100%;
  color: #FFFFFF;
  font-size: 1.8em;
}

.input::-webkit-input-placeholder {
  color: #bdc4bd;
}

.input:-ms-input-placeholder {
  color: #bdc4bd;
}

.input::-ms-input-placeholder {
  color: #bdc4bd;
}

.input::placeholder {
  color: #bdc4bd;
}

.error.input::-webkit-input-placeholder {
  color: red;
}

.error.input:-ms-input-placeholder {
  color: red;
}

.error.input::-ms-input-placeholder {
  color: red;
}

.error.input::placeholder {
  color: red;
}

footer {
  margin-top: 60px;
}

.section__footer--title p {
  font-size: 1.6em;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 15px;
  right: 0;
  left: 0;
}

.section__footer--title p::before {
  content: '';
  position: absolute;
  top: -15px;
  width: 100%;
  height: 2px;
  background: #6cbe45;
}

html,
body {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  background: url("../img/bg.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  color: #FFFFFF;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 4em;
}

.btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}

.btn {
  background-color: #FFFFFF;
  border: 1px solid #dbdbdb;
  border-radius: .375em;
  color: #363636;
  cursor: pointer;
  padding: calc(.5em - 1px) 1em;
}

.btn:active {
  border-color: #4a4a4a;
  outline: 0;
}

.btn:focus {
  border-color: #485fc7;
  outline: 0;
}

.btn:hover {
  border-color: #b5b5b5;
}

.btn:focus:not(:active) {
  -webkit-box-shadow: rgba(72, 95, 199, 0.25) 0 0 0 0.125em;
          box-shadow: rgba(72, 95, 199, 0.25) 0 0 0 0.125em;
}

.checkboxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.checkbox-wrapper:hover .check {
  stroke-dashoffset: 0;
}

.checkbox-wrapper {
  position: relative;
  display: inline-block;
  height: 40px;
  width: 40px;
}

.checkbox-wrapper .background {
  fill: #ccc;
  transition: ease all 0.6s;
  -webkit-transition: ease all 0.6s;
}

.checkbox-wrapper .stroke {
  fill: none;
  stroke: #fff;
  stroke-miterlimit: 10;
  stroke-width: 2px;
  stroke-dashoffset: 100;
  stroke-dasharray: 100;
  transition: ease all 0.6s;
  -webkit-transition: ease all 0.6s;
}

.checkbox-wrapper .check {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2px;
  stroke-dashoffset: 22;
  stroke-dasharray: 22;
  transition: ease all 0.6s;
  -webkit-transition: ease all 0.6s;
}

.checkbox-wrapper input[type=checkbox] {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin: 0;
  opacity: 0;
  -appearance: none;
  -webkit-appearance: none;
}

.checkbox-wrapper input[type=checkbox]:hover {
  cursor: pointer;
}

.checkbox-wrapper input[type=checkbox]:checked + svg .background {
  fill: #6cbe45;
}

.checkbox-wrapper input[type=checkbox]:checked + svg .stroke {
  stroke-dashoffset: 0;
}

.checkbox-wrapper input[type=checkbox]:checked + svg .check {
  stroke-dashoffset: 0;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box .box__title {
  font-size: 1.2em;
  margin-bottom: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.hidden {
  display: none;
}

svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
