.main{
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);

  padding: 30px;
  position: relative;
  top: 60px;
  min-height: 500px;
}
.title{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  user-select: none;
  margin-bottom: 30px;
  text-align: center;
  h1{
    padding: 0 30px;
  }
  &::before,&::after{
    content: '';
    background: url('../../img/icon/leaves.png') no-repeat;
    width: clamp(2rem, calc(1.273rem + 3.64vw), 4rem);
    height: clamp(2rem, calc(1.273rem + 3.64vw), 4rem);
    position: absolute;
    background-size: clamp(2rem, calc(1.273rem + 3.64vw), 4rem);
  }
  &::before{
    left: 0;
    transform: rotate(-45deg);
  }
  &::after{
    right: 0;
    transform: scaleX(-1) rotate(-45deg);
  }
}
.date{
  margin-bottom: 8px;
}
.block{
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.blocks{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  // gap: 16px;
  column-gap: 6px;
  row-gap: 12px;
}
.block__week{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: clamp(0.5rem, calc(0.318rem + 0.91vw), 1rem);
  position: relative;
  &::after{
    content: '';
    position: absolute;
    border-bottom: dashed;
    width: 100%;
    bottom: -8px;
  }
}
.input{
  background: transparent;
  max-width: 100%;
  height: 100%;
  color: $white;
  font-size: clamp(0.75rem, calc(0.614rem + 0.68vw), 1.125rem);
}
.input::placeholder{
  color:rgb(189, 196, 189);
  font-size: clamp(0.5rem, calc(0.318rem + 0.91vw), 1rem);
}
.error.input::placeholder{
  color: red;
}