// Большие девайсы (десктопы, >= 992px)
@media (max-width: 992px) { //default 992px
  .block__week{
    width: 49%;
    gap: 0;
    .checkboxes{
      flex-wrap: wrap;
    }
  }
}
// Малые девайсы («ландшафтные телефоны», >= 576px)
@media (max-width: 576px) { 
  .block__week{
    width: 100%;
  }
}


